<li [ngClass]="{ editing: isEditing, completed: todo.completed }">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [checked]="todo.completed"
      (change)="onToggleTodo()"
    />
    <label (dblclick)="onSetTodoInEditMode()">{{ todo.title }}</label>
    <button class="destroy" (click)="onRemoveTodo()"></button>
  </div>
  <ng-container *ngIf="isEditing">
    <input
      class="edit"
      #textInput
      [value]="editingText"
      (keyup)="onChangeText($event)"
      (keyup.enter)="onChangeTodo()"
    />
  </ng-container>
</li>
