<footer *ngIf="!todosService.noTodosClass()" class="footer">
  <span class="todo-count">
    <strong>{{ activeCount() }}</strong>
    {{ itemsLeftText() }}</span
  >
  <ul class="filters">
    <li>
      <app-a-filter
        [selectedFilter]="filterSig() === filterEnum.all"
        [textFilter]="'All'"
        [typeFilter]="filterEnum.all"
        (changeFilter)="onChangeFilter($event)"
      ></app-a-filter>
    </li>
    <li>
      <app-a-filter
        [selectedFilter]="filterSig() === filterEnum.active"
        [textFilter]="'Active'"
        [typeFilter]="filterEnum.active"
        (changeFilter)="onChangeFilter($event)"
      ></app-a-filter>
    </li>
    <li>
      <app-a-filter
        [selectedFilter]="filterSig() === filterEnum.completed"
        [textFilter]="'Completed'"
        [typeFilter]="filterEnum.completed"
        (changeFilter)="onChangeFilter($event)"
      ></app-a-filter>
    </li>
  </ul>
</footer>
