<footer *ngIf="!todosService.noTodosClass()" class="footer">
  <span class="todo-count">
    <strong>{{ activeCount() }}</strong>
    {{ itemsLeftText() }}</span
  >
  <ul class="filters">
    <li>
      <app-a-filter
        [textFilter]="'All'"
        [typeFilter]="filterEnum.all"
      ></app-a-filter>
    </li>
    <li>
      <app-a-filter
        [textFilter]="'Active'"
        [typeFilter]="filterEnum.active"
      ></app-a-filter>
    </li>
    <li>
      <app-a-filter
        [textFilter]="'Completed'"
        [typeFilter]="filterEnum.completed"
      ></app-a-filter>
    </li>
  </ul>
</footer>
